mypy==0.981
flake8
invoke>=2,<3
pytest==7.2.2
sphinx
sphinx-rtd-theme
twine>=4,<5
sphinx-autodoc-typehints
black==22.10.0
pytest-cov
faker

# For mypy
types-pyOpenSSL

# For building the Windows executable
cx-freeze; sys.platform == 'win32'
