mypy==0.950
flake8<5.0.0
invoke<2.0.0
pytest<8.0.0
sphinx
sphinx-rtd-theme
twine
sphinx-autodoc-typehints
black==22.3.0
pytest-cov
faker

# For building the Windows executable
cx-freeze; sys.platform == 'win32'
