[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nassl = "<1.2.0,>=1.1.0"
cryptography = "==2.2.2"
tls-parser = "<1.3.0,>=1.2.0"

[dev-packages]
mypy = "*"
"flake8" = "*"
invoke = "*"
cx-freeze = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.6"
