[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nassl = "<3.2.0,>=3.1.0"
cryptography = ">=2.6,<3.3"
tls-parser = "==1.2.2"

[dev-packages]
mypy = "*"
"flake8" = "*"
invoke = "*"
pytest = "<6.0.0"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
sphinx-autodoc-typehints = "*"
black = "==19.10b0"
pytest-cov = "*"
faker = "*"
cx-freeze = "*"
