mypy==1.4.1
flake8>=5,<7
invoke>=2,<3
pytest>=7.4,<8
sphinx
sphinx-rtd-theme
twine>=4,<5
sphinx-autodoc-typehints
black==24.3.0
pytest-cov
faker

# For mypy
types-pyOpenSSL

# For building the Windows executable
cx-freeze==6.15.8; sys.platform == 'win32'
