name: "Release Build"
on:
  push:
  release:
    types: [released]

env:
  # ---- Language Versions ----

  PYTHON_VERSION: "3.9"

  # ---- Docker Namespace ----

  # DOCKER_USER and DOCKER_TOKEN must be stored as GitHub secrets as well
  DOCKER_NAMESPACE: ${{ secrets.DOCKER_NAMESPACE }}

jobs:

  docker-release-build:
    name: SSlyze Docker Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Docker Meta
        id: docker_meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.DOCKER_NAMESPACE }}/sslyze
          tags: |
            type=sha
            type=semver,pattern={{version}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}