name: Run Tests

on:
  push:
    branches: [ release ]
  pull_request:
    branches: [ release, dev ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install pip
      run: |
        python -m pip install --upgrade pip setuptools wheel

    - name: Install sslyze dependencies
      run: python -m pip install -e .

    - name: Install dev dependencies
      run: python -m pip install -r requirements-dev.txt

    - name: Run linters
      # Only do linting once
      if: matrix.python-version == 3.8
      run: python -m invoke lint

    - name: Run tests
      run: python -m invoke test
